[Unit]
Description=Order MicroService
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/orderMS
ExecStart=/bin/bash /home/ec2-user/orderMS/start_service.sh
Restart=always

[Install]
WantedBy=multi-user.target

